body {
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

a:hover {
  text-decoration: none;
}

//浏览器兼容提示 in header.swig
.browserupgrade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0b1f0b;
    text-align: center;
    z-index: 9999;
    color: #fff;
}
.browserupgrade .tip {
    width: 900px;
    margin: 160px auto 20px;
    font-size: 24px;
}
.browserupgrade .tip-author {
    width: 900px;
    margin: 0 auto 70px;
    text-align: right;
    font-style: italic;
    font-size: 24px;
}
.browserupgrade a {
    display: block;
    width: 300px;
    font-size: 25px;
    color: #fff;
    margin: 0 auto;
    text-decoration: underline;
}

.header {
  height: 200px;
  margin-bottom: 20px;
  background: #eee;
}

.header-inner, .container_next .main-inner, .footer-inner {
  +mobile() { width: auto; }
}

.main {
    padding-bottom: 50px;
}

// embed tag
embed {
   display: block;
   margin:  0px auto 25px auto;
}

.swiper-container {
    height: 60px;
}
.swiper-container::before {
    background-image: url(/images/laba.png);
}
.swiper-slide {
    border: 1px solid #eee;
    border-radius: 4px;
    background: #eee;
}
#index-post {
    margin-bottom: 20px;
}
.navbar {
    background: #666;
}
