//头部导航样式
.main-nav-wrapper{
    padding-top: 4.2rem;
    //3.75rem;
}
.main-nav-scrolled{
    background: #fff;
}

#mainNav .nav-item a{
    font-size:1rem;
    color: #393939;
    border-bottom:0.2rem solid transparent;
}
#mainNav .nav-item a:hover{
    color: $red;
}
#mainNav ul.navbar-nav > li.nav-item{
    padding-right: 2rem;
}
#mainNav ul.navbar-nav > li.nav-item:last-child{
    padding-right: 0;
}

.navbar-brand {
    font-size: 1.6rem;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: $red;
}

.navbar-brand::first-letter {
    font-size: 1.3rem;
    color: $red;
}

.navbar-light .navbar-brand:focus::first-letter, .navbar-light .navbar-brand:hover::first-letter {
    font-size: 1.3rem;
    color: #393939;
}

@media (max-width: 991px) {
    .navbar-collapse {
        border-top: none;
        width: 100%;
        z-index: 40;
        background: rgba(38, 40, 44, 0.98);
        text-align:center;
    }
    #mainNav .nav-item a{
        color:#FFF !important;
        text-align: center;
    }
    #mainNav .nav-item.active a {
        border:0;
    }
    #mainNav .nav-item a:hover{
        border-bottom-color: transparent;
    }
    #mainNav ul.navbar-nav > li.nav-item{
        padding-right: 0;
        margin: 1rem 0;
    }
}
