// 开源项目
// --------------------------------------------------
/*博客 左图右文 - 文字设定*/
.limg-rdesc{
    background: #fcfcfc;
}
.limg-rdesc>div{
    padding: 15px;
}
.right-desc>p{
    margin: 0;
}
.right-desc>p:nth-child(1){
    font-size: 1rem;
}
.right-desc>p:nth-child(2){
    font-size:  0.8rem;
    color: #BBBBBB;
}
.right-desc>p:nth-child(3){
    line-height: 1rem;
    font-size:  0.875rem;
    color: #777777;
}
.right-desc>p:nth-child(2)>span{
    text-indent: 0.8rem;
    display: inline-block;
}
.use-motion #blog{
    opacity: 0;
}