// 开源项目
// --------------------------------------------------
#opensource .container-mod .desc{
    margin-top: 2rem;
    font-size: 0.9rem;
}

@media (min-width: 768px){
    #opensource .double-row>div{
        padding: 0;
    }
}