// CSS Style Guide: http://codeguide.co/#css



$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';
$variables = base $scheme custom;
$mixins    = base $scheme custom;



// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable


// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;

.about-body {
    text-align: center;
}
.share-container {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.share-container img {
    width: 100%;
    height: 100%;
}
.share-container .swiper-slide {
    position: relative;
}
.share-container .intro {
    height: 3em;
    line-height: 3em;
    position: absolute;
    width: 100%
    background: rgba(0,0,0,0.5);
    color: white;
    left: 0;
    bottom: 0;
    font-weight: 400;
}
