//
// Layout
// Note: Must name this file "outline" instead of "layout"
//       Or Hexo will use it as template layout.
// =================================================


html, body { height: 100%; }

.container_next {
  position: relative;
  min-height: 100%;
}


// Header Section
// --------------------------------------------------
.header-inner {
  margin: 0 auto;
  +desktop-large() {
    .container_next & { width: $content-desktop-large; }
  }
}

// Main Section
// --------------------------------------------------
.main { padding-bottom: $footer-height + $gap-between-main-and-footer; }
.main-inner {
  margin: 0 auto;
  width: $content-desktop;

  +desktop-large() {
    .container_next & { width: $content-desktop-large; }
  }
}


// Footer Section
// --------------------------------------------------

.footer {
    border-top: 1px solid #eee;
    background: #f8f8f8;
    padding: 20px 0;
}
.footer-inner {
  box-sizing: border-box;
  margin: 20px auto;
  width: $content-desktop;

  +desktop-large() {
    .container_next & { width: $content-desktop-large; }
  }
}
