.footer .sm-logo img{
    width: 8.5rem;
    margin: 0;
}
.footer .sm-qrcode img{
    width: 100%;
    float: right;
}
.footer .fri-link{
    margin: 1rem 0;
}
.footer .fri-link ul>li{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    padding-right:0.5rem; 
}
.footer .fri-link ul>li>a{
    color: #393939;
}
.footer .copyright{
    font-size: 0.8rem;
    color:#777777;
    position: absolute;
    margin-top: 1rem;
    bottom: 0;
}
.footer .qrcode-desc{
    font-size: 0.7rem;
    margin-top: 0.2rem;
    color: #747474;
}
/*
.footer {
  font-size: 14px;
  color: $grey-dark;

  img { border: none; }
}

.footer-inner { text-align: center; }

.with-love {
  display: inline-block;
  margin: 0 5px;
}

.powered-by,
.theme-info { display: inline-block; }

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}
*/